$main-color: green;

:local .root {
    display: flex;
    min-height: 50vh;
    height: 100%;

    font-size: 30px;
    line-height: 1.3em;

    & :global(.ReactCodeMirror) {
        flex: 1;
        padding: 15px;
        border: 1px solid black;

        & > :global(.CodeMirror) {
            height: 100%;
        }
    }

    & .preview {
        padding: 15px;
        flex: 1;
        color: white;
        background-color: black;
    }
}